.swiftpm
.DS_Store
.build
.builds
XCFrameworks/
build
/Packages
Pods
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc


**/Derived/